<div class="row">

  <!-- Association Listing Section -->
  <div class="col-md-4">
    <h2>{{mirror.displayName}}</h2>

  <button ng-click="previous()" class="btn btn-default btn-lg">Back</button>

    <div class="scroll">
      <div ng-repeat="assoc in associations | filter:search.displayText"
           ng-click="select(assoc)">
        <div class="association"
             ng-class="{'selected': assoc.selected}">
          <div class="row">
            <div class="col-md-2">
              <span ng-show="assoc.isGrouping" class="glyphicon glyphicon-folder-close"></span>
              <span ng-show="assoc.isPhantom" class="glyphicon glyphicon-link"></span>
              <span ng-show="!assoc.isGrouping" class="glyphicon glyphicon-file"></span>
            </div>
            <div class="col-md-10">
              <h3>{{assoc.localItem}}</h3>
            </div>
          </div> <!-- row -->
          <div class="row buttons" ng-show="assoc.selected">
            <!-- Buttons -->
            <div class="col-md-6">
              <button class="btn btn-default" ng-click="navigate(assoc.guid)" ng-show="assoc.isGrouping">Enter</button>
            </div>
            <div class="col-md-6">
              <button ng-click="deleteAssoc(assoc.guid)" class="pull-right btn btn-danger">DELETE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Association Editing Section -->
  <div class="col-md-8">
    <div class="editor">
      <h2>Editor</h2>

      <div ng-if="selectedAssoc">
        <h3>{{selectedAssoc.localItem}}</h3>
        <pre>{{selectedAssoc}}</pre>
      </div>

      <textarea ng-model="selectedAssoc.displayText"></textarea>
      <button ng-click="save()" class="btn btn-lg btn-success">Save</button>

      <h2>Tags</h2>
        <input type="text" ng-model="tagValue">
        <button ng-click="selectedAssoc.addTag(tagValue)"><span class="glyphicon glyphicon-plus"></span></button>
      <h3>Current Tags</h3>
      <button ng-repeat="tag in selectedAssoc.listTags()">{{tag}}</button>
    </div>
  </div>
</div>
