<div class="jumbotron">
  <h1>Item Mirror Demo</h1>
  <p class="lead">
    This is a demo that comes along with the Item Mirror Angular
    tutorial. It's not really a full fledged app, but more of an
    introduction as to how you can get everything interacting.
  </p>
  <p>

    In order for this demo to work, you <strong>must enable pop-ups</strong> on
    this site. This is just so Dropbox can connect properly.

  </p>
  <p>
    Press the big green button to get started!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/explorer">Start</a></p>
</div>
